<nav class="nav flex-column col-sm-12 col-md-4">
   
        <a class="nav-link" href="#Apple2">Apple II</a>
        <a class="nav-link" href="#Macintosh">The first Macintosh</a>
        <a class="nav-link" href="#iMac">The iMac</a>
        <a class="nav-link" href="#iPod">The iPod</a>
        <a class="nav-link" href="#iPodnano">The iPod nano</a>
        <a class="nav-link" href="#iPhone">The iPhone</a>
        <a class="nav-link" href="#iTunes">iTunes</a>
        <a class="nav-link" href="#iPad">iPad</a>
        <a class="nav-link" href="#AppStore">iOS App Store</a>
        <a class="nav-link" href="#stores">Apple stores</a>
    
</nav>
<main class="col-sm-12 col-md-8">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" id="Apple2" >
                <h2 class="card-title">1. Apple II</h2>
                <img class="card-img-top" src="public/images/1.jpg" alt="Apple II">
                <div class="card-body">

                    <p class="card-text">Handbuilt Apple </p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#1">Show More</a>
                </div>
            </div>
            <div class="modal fade" id="1" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">More Details of iPod nano </h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            Steve Jobs discontinued the iPod mini at the height of its popularity in September 2005. His indefatigable drive for design
                            and efficiency saw it replaced with the much smaller nano.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" id="Macintosh" >
                <h2 class="card-title">2.Macintosh</h2>
                <img class="card-img-top" src="public/images/2.jpg" alt="The first Macintosh">
                <div class="card-body">

                    <p class="card-text"> 128K </p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#2">Show More</a>
                </div>
            </div>
            <div class="modal fade" id="2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">More Details of The Macintosh </h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            It was released in January 1984 "with all the showbiz of a car launch
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" id="iMac">
                <h2 class="card-title">3.iMac</h2>
                <img class="card-img-top" src="public/images/3.png" alt="The iMac">
                <div class="card-body">

                    <p class="card-text">anticipated iMac</p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#3">Show More</a>
                </div>
            </div>
            <div class="modal fade" id="3" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">More Details of iMac</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            Three years after his return to Apple in 1998, Jobs urged the world to "think different". But no one anticipated the iMac,
                            the computer that kickstarted Apple's fortunes and propelled the company to where it is today.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" id="iPod" >
                <h2 class="card-title">4. The iPod</h2>
                <img class="card-img-top" src="public/images/4.png" alt="The iPod">
                <div class="card-body">

                    <p class="card-text">digital music
                    </p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#4">Show More</a>
                </div>
            </div>
            <div class="modal fade" id="4" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">More Details of iPod</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            Unveiled a decade ago this month, the iPod is the one device that transformed Apple from a computer company into a mass-market
                            electronics giant – and would later spark a revolution in digital music.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" id="iPodnano" >
                <h2 class="card-title">5. The iPod nano</h2>
                <img class="card-img-top" src="public/images/5.jpg" alt="The iPod nano">
                <div class="card-body">

                    <p class="card-text">smaller nano
                    </p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#5">Show More</a>
                </div>
            </div>
            <div class="modal fade" id="5" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">More Details of iPod nano </h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            Steve Jobs discontinued the iPod mini at the height of its popularity in September 2005. His indefatigable drive for design
                            and efficiency saw it replaced with the much smaller nano.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" id="iPhone">
                <h2 class="card-title">6. The iPhone</h2>
                <img class="card-img-top" src="public/images/6.jpg" alt="The iPhone">
                <div class="card-body">

                    <p class="card-text">killer product</p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#6">Show More</a>
                </div>
            </div>
            <div class="modal fade" id="6" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">More details of iPhone</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            Less than half a decade after the iPod, Apple was already the biggest name in digital music. After months of rumour and anticipation,
                            Jobs, in January 2007, unveiled what would quickly become Apple's killer product.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" id="iTunes" >
                <h2 class="card-title">7. iTunes</h2>
                <img class="card-img-top" src="public/images/7.jpg" alt="iTunes">
                <div class="card-body">

                    <p class="card-text">CD writing 128K and 256K</p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#7">Show More</a>
                </div>
            </div>
            <div class="modal fade" id="7" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">More details of iTunes</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            Until Jobs unveiled iTunes in January 2001, no one had been able to convince music label executives that people might pay
                            for songs online. Announced at the back end of a 90-minute keynote to launch the new Macintosh,
                            iTunes was an unexciting "all-in-one digital music program" that brought together MP3 playback,
                            internet radio and CD writing.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" id="iPad">
                <h2 class="card-title">8. The iPad</h2>
                <img class="card-img-top" src="public/images/8.jpg" alt="The iPad">
                <div class="card-body">

                    <p class="card-text">Jesus tablet</p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#8">Show More</a>
                </div>
            </div>
            <div class="modal fade" id="8" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">More details of iPad</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            Apple's so-called "Jesus tablet" was everything that everyone didn't need on its launch in January 2010. Less than a year
                            later, Apple had invented a new market and intentionally spawned hundreds of poor-man copycats.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" id="AppStore" >
                <h2 class="card-title">9. iOS App Store</h2>
                <img class="card-img-top" src="public/images/9.jpg" alt="iOS App Store">
                <div class="card-body">

                    <p class="card-text">Open Store</p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#9">Show More</a>
                </div>
            </div>
            <div class="modal fade" id="9" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">More details of AppStore</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            Apple announced a new milestone for its App Store in July this year: 15bn downloads (of more than 500,000 apps) since it
                            launched in July 2008. The App Store has become the cornerstone to the iPhone's success.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" id="stores" >
                <h2 class="card-title">10. Apple stores</h2>
                <img class="card-img-top" src="public/images/10.jpg" alt="Apple stores">
                <div class="card-body">

                    <p class="card-text"> stores worldwide</p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#10">Show More</a>
                </div>
            </div>
            <div class="modal fade" id="10" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">More Details of Apple Stores</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            Apple opened its first retail store on 19 May 2001, in Glendale, California. As of July this year, Apple had opened more
                            than 350 stores worldwide, with the largest in London's Covent Garden.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>