
<div class="container">
    <h1 id="the-heading"></h1>
    <section class="row">
        <nav class="col-sm-12 col-md-4">
             <h1>Top 10 TV Shows:</h1>
    <ul>
        <li><a href="#Black Mirror">Black Mirror</a></li>
        <li><a href="#Westworld" >Westworld</a></li>
        <li><a href="#Breaking Bad">Breaking Bad</a></li>
        <li><a href="#Stranger Things" >Stranger Things</a></li>
        <li><a href="#friends" >Friends</a></li>
        <li><a href="#Narcos" >Narcos</a></li>
        <li><a href="#House of Cards" >House of Cards</a></li>
        <li><a href="#the-office" >The Office</a></li>
        <li><a href="#Twin Peaks" >Twin Peaks</a></li>
       <li><a href="#Game of Thrones" >Game of Thrones</a></li>
    </ul>
        </nav>
        <main>
    <div class="flex-container">
        <article id="Black Mirror">
            <h2>Black Mirror</h2>
            <img src="public/images/1.jpg" alt="Black Mirror">
            <p class="description">Charlie Brooker presents his three-part satirical series, tapping into the collective unease about our modern world.</p>
        </article>
        <article id="Westworld">
            <h2>Westworld</h2>
            <img src="public/images/2.jpg" alt="Westworld" >
            <p class="description">Drama · Set at the intersection of the near future and the reimagined past, explore a world in which every human appetite,</p>
        </article>
       <article id="Breaking Bad">
            <h2>Breaking Bad</h2>
            <img src="public/images/10.jpg" alt="Breaking Bad" >
            <p class="description">A group of people around the world are suddenly linked mentally, and must find a way to survive being hunted by those who see them as a threat to the world's order.</p>
        </article>
        <article id="Stranger Things">
            <h2>Stranger Things</h2>
            <img src="public/images/4.jpg" alt="Stranger Things" >
            <p class="description">A chronicled look at the criminal exploits of Colombian drug lord Pablo Escobar.</p>
        </article>
        <article id="friends">
            <h2>Friends</h2>
            <img src="public/images/5.jpeg" alt="Friends" >
            <p class="description">Follows the personal and professional lives of six 20 to 30-something-year-old friends living in Manhattan.</p>
        </article>
         <article id="Narcos">
            <h2>Narcos</h2>
            <img src="public/images/6.jpg" alt="Narcos" >
            <p class="description">Film star Vince Chase navigates the vapid terrain of Los Angeles with a close circle of friends and his trusty agent.</p>
        </article>
        <article id="House of Cards">
            <h2>House of Cards</h2>
            <img src="public/images/7.jpg" alt="House of Cards" >
            <p class="description">Matt Murdock, with his other senses superhumanly enhanced, fights crime as a blind lawyer by day, and vigilante by night.</p>
        </article>
       
        <article id="the-office">
            <h2>The Office</h2>
            <img src="public/images/8.jpg" alt="The Office" >
            <p class="description">A mockumentary on a group of typical office workers, where the workday consists of ego clashes, inappropriate behavior, and tedium. Based on the hit BBC series.</p>
        </article>
        <article id="Twin Peaks">
            <h2>Twin Peaks</h2>
            <img src="public/images/9.jpg" alt="Twin Peaks" >
            <p class="description">The story of Piper Chapman, a woman in her thirties who is sentenced to fifteen months in prison after being convicted of a decade-old crime of transporting money to her drug-dealing girlfriend.</p>
        </article>
         <article id="Game of Thrones">
            <h2>Game of Thrones</h2>
            <img src="public/images/3.jpg" alt="Game of Thrones" >
            <p class="description">Given superstrength and durability by a sabotaged experiment, a wrongly accused man escapes prison to become a superhero for hire.</p>
        </article>
        
    </div>
</main>
    </section>
</div>